@{
    ViewBag.Title = "Manage Users";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Manage Users</h2>
@model IEnumerable<LogiManage.ViewModels.UserViewModel>

<form method="get" action="@Url.Action("ManageUsers", "Admin")">
    <div>
        <label for="WarehouseID">Select Warehouse:</label>
        @Html.DropDownList("WarehouseID", (SelectList)ViewBag.WarehouseID, "Select a Warehouse", new { @class = "form-control", @onchange = "this.form.submit();" })
    </div>

    <div>
        @Html.ActionLink("Add User", "AddUser", new { }, new { @class = "btn btn-primary" })
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>Kullanıcı Adı</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Email</th>
            <th>Rol</th>
            <th>Depo Adı</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => user.Username)</td>
                <td>@Html.DisplayFor(modelItem => user.UserFirstName)</td>
                <td>@Html.DisplayFor(modelItem => user.UserLastName)</td>
                <td>@Html.DisplayFor(modelItem => user.UserEmail)</td>
                <td>@Html.DisplayFor(modelItem => user.RoleName)</td>
                <td>@Html.DisplayFor(modelItem => user.WarehouseName)</td>
                <td>
                    @Html.ActionLink("Edit", "UserUpdate", new { userid = user.UserID }, new {@class ="btn btn-primary"}) |
                    @Html.ActionLink("Delete", "UserDelete", new { userid = user.UserID }, new {@class ="btn btn-danger"})
                </td>
            </tr>
        }
    </tbody>
</table>
