
@{
    ViewBag.Title = "UserUpdate";
    Layout = "~/Views/Shared/_LayoutOperator.cshtml";
}

<h2>UserUpdate</h2>



@model LogiManage.Models.Users

@using (Html.BeginForm("UserUpdate", "Admin", FormMethod.Post))
{
    @Html.HiddenFor(m => m.UserID)
    @Html.LabelFor(m => m.UserFirstName)
    @Html.TextBoxFor(m => m.UserFirstName)

    @Html.LabelFor(m => m.UserLastName)
    @Html.TextBoxFor(m => m.UserLastName)

    @Html.LabelFor(m => m.UserEmail)
    @Html.TextBoxFor(m => m.UserEmail)

    @Html.LabelFor(m => m.Username)
    @Html.TextBoxFor(m => m.Username)

    @Html.LabelFor(m => m.Userpassword)
    @Html.TextBoxFor(m => m.Userpassword)

    @Html.LabelFor(m => m.RoleID)
    @Html.DropDownListFor(m => m.RoleID, (SelectList)ViewBag.RoleList, "Rol Seçiniz")

    @Html.LabelFor(m => m.WarehouseID)
    @Html.DropDownListFor(m => m.WarehouseID, (SelectList)ViewBag.WarehouseList)



    <button type = "submit" > Kaydet </button >
}

