

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Operator</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Operator </a>


            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        @Html.ActionLink("Home ", "Index", "Operator", new { }, new { @class = "nav-link" })

                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Stockcontrol ", "StockControl", "Operator", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Add Stock Adjustment Request ", "AddStockAdjustmentRequest", "StockAdjustment", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Stock Adjustment Requests ", "OStockAdjustmentRequests", "StockAdjustment", new { }, new { @class = "nav-link" })
                    </li>
                    <li class="nav-item">
                        @Html.ActionLink("Transfer Requests", "TransferORequest", "Operator", new { }, new { @class = "nav-link" })
                    </li>
                    <li>
                        @Html.ActionLink("Transfers", "OTransfers", "Operator", new { }, new { @class = "nav-link" })
                    </li>

                </ul>
                <div class="d-flex nav-item">
                    @Html.ActionLink("Logout", "Logout", "Account", new { }, new { @class = "btn btn-danger" })

                </div>


            </div>
        </div>
    </nav>
    <main role="main" class="container">
        @RenderBody()
    </main>
</body>
</html>

