
@{
    ViewBag.Title = "SupplierUpdate";
    Layout = "~/Views/Shared/_LayoutPurchasingOfficer.cshtml";
}

@model LogiManage.Models.Suppliers
<div>
    <h2>SupplierUpdate</h2>
    @using (Html.BeginForm("SupplierUpdate", "Supplier", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.SupplierID)
        <div class="form-group">
            @Html.LabelFor(m => m.SupplierName)
            @Html.TextBoxFor(m => m.SupplierName, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SupplierAddress)
            @Html.TextBoxFor(m => m.SupplierAddress, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SupplierPhone)
            @Html.TextBoxFor(m => m.SupplierPhone, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.SupplierMail)
            @Html.TextBoxFor(m => m.SupplierMail, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ContactName)
            @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control" })
        </div>
        <button type="submit" class="btn btn-outline-success">Update </button>
    }
</div>