@{
    ViewBag.Title = "AddTransferRequest";
    Layout = "~/Views/Shared/_LayoutWarehouseManager.cshtml";
}

<h2>AddRequest</h2>
@model LogiManage.ViewModels.TransferViewModel
<div>
    <h3> Add new Transfer </h3>
    @using (Html.BeginForm("AddTransferRequest", "Transfer", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.TransferID)
        @Html.LabelFor(m => m.SourceWarehouseName)
        @Html.TextBoxFor(m => m.SourceWarehouseName)

        @Html.LabelFor(m => m.DestinationWarehouseID)
        @Html.DropDownListFor(m => m.DestinationWarehouseID, (SelectList)ViewBag.WarehouseList2, "Select Warehouse")

        @Html.LabelFor(m => m.ProductID)
        @Html.TextBoxFor(m => m.ProductID)

        @Html.LabelFor(m => m.Quantity)
        @Html.TextBoxFor(m => m.Quantity)


        @Html.LabelFor(m => m.TransferDate)
        @Html.TextBoxFor(m => m.TransferDate)

        @Html.LabelFor(m => m.TransferStatus)
        @Html.TextBoxFor(m => m.TransferStatus)

       

        <button type="submit" class="btn btn-outline-success">Add </button>
    }
</div>
    