@{
    ViewBag.Title = "Transfers";
    Layout = "~/Views/Shared/_LayoutWarehouseManager.cshtml";
}

<h2>Transfer</h2>

@model List<LogiManage.ViewModels.TransferViewModel>

@{
    var warehouseId = (int)Session["WarehouseID"];
}
<h2> Operator Transfer Requests </h2>

<h3> Requested Transfers</h3>
<table border="1">
    <thead>
        <tr>
            <th>Transfer Status</th>
            <th>Transfer Date</th>
            <th>Source Warehouse</th>
            <th>Destination Warehouse</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var transfer in Model.Where(x => x.TransferStatus == "Requested" && x.DestinationWarehouseID == @warehouseId))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => transfer.TransferStatus)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.TransferDate)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.SourceWarehouseName)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.DestinationWarehouseName)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.Quantity)</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">No delivered transfers found.</td>
            </tr>
        }


    </tbody>
</table>
<br />

<h3> Completed Transfers </h3>
<table border="1">
    <thead>
        <tr>
            <th>Transfer Status</th>
            <th>Transfer Date</th>
            <th>Source Warehouse</th>
            <th>Destination Warehouse</th>
            <th>Product Name</th>
            <th>Quantity</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var transfer in Model.Where(x => x.TransferStatus == "Completed" && x.SourceWarehouseID == @warehouseId))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => transfer.TransferStatus)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.TransferDate)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.SourceWarehouseName)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.DestinationWarehouseName)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.Quantity)</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">No completed transfers found.</td>
            </tr>
        }
    </tbody>
</table>
<br />

<h3>Rejected Transfers </h3>
<table border="1">
    <thead>
        <tr>
            <th>Transfer Status</th>
            <th>Transfer Date</th>
            <th>Source Warehouse</th>
            <th>Destination Warehouse</th>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var transfer in Model.Where(x => x.TransferStatus == "Rejected" && x.DestinationWarehouseID == @warehouseId))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => transfer.TransferStatus)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.TransferDate)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.SourceWarehouseName)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.DestinationWarehouseName)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.Quantity)</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">No uncompleted transfers found.</td>
            </tr>
        }
    </tbody>
</table>
<br />
<h3>Preparing Transfers</h3>
<table border="1">
    <thead>
        <tr>
            <th>Transfer Status</th>
            <th>Transfer Date</th>
            <th>Source Warehouse</th>
            <th>Destination Warehouse</th>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var transfer in Model.Where(x => x.TransferStatus == "Preparing" && x.DestinationWarehouseID == @warehouseId))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => transfer.TransferStatus)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.TransferDate)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.SourceWarehouseName)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.DestinationWarehouseName)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.Quantity)</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">No preparing transfers found.</td>
            </tr>
        }
    </tbody>
</table>
<br />

<h3>Uncompleted Transfers</h3>
<table border="1">
    <thead>
        <tr>
            <th>Transfer Status</th>
            <th>Transfer Date</th>
            <th>Source Warehouse</th>
            <th>Destination Warehouse</th>
            <th>Product Name</th>
            <th>Quantity</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            foreach (var transfer in Model.Where(x => x.TransferStatus == "Uncompleted" && x.DestinationWarehouseID == @warehouseId))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => transfer.TransferStatus)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.TransferDate)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.SourceWarehouseName)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.DestinationWarehouseName)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.ProductName)</td>
                    <td>@Html.DisplayFor(modelItem => transfer.Quantity)</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="7">No uncompleted transfers found.</td>
            </tr>
        }
    </tbody>
</table>



