
@{
    ViewBag.Title = "ProductAdd";
    Layout = "~/Views/Shared/_LayoutPurchasingOfficer.cshtml";
}


@model LogiManage.ViewModels.AddProductViewModel

<div>
    <h2>Add new product</h2>

    @using (Html.BeginForm("ProductAdd", "Products", FormMethod.Post))
    {
        <div>
            @Html.HiddenFor(m => m.ProductID)
            <div class="form-group">
                @Html.LabelFor(m => m.ProductName)
                @Html.TextBoxFor(m => m.ProductName, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Category)
                @Html.DropDownListFor(m => m.Category, (SelectList)ViewBag.CategoryList, "Select Category", new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.StockQuantity)
                @Html.TextBoxFor(m => m.StockQuantity, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.CriticalStockLevel)
                @Html.TextBoxFor(m => m.CriticalStockLevel, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Price)
                @Html.TextBoxFor(m => m.Price, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.SupplierName)
                @Html.DropDownListFor(m => m.SupplierID, (SelectList)ViewBag.SupplierList, "Select Supplier", new {@class="form-control"})

            </div>
            <button type="submit" class="btn btn-outline-success">Add new product</button>
        </div>
    }
</div>
