
@{
    ViewBag.Title = "AddStockAdjustmentRequest";
    Layout = "~/Views/Shared/_LayoutOperator.cshtml";
}
@model LogiManage.ViewModels.StocksViewModel
<h2>AddStockAdjustmentRequest</h2>
<div>
    <h3> Add new Transfer </h3>
    @using (Html.BeginForm("AddStockAdjustmentRequest", "StockAdjustment", FormMethod.Post))
    {
        @Html.HiddenFor(m => m.StockAdjustmentID)
        <div class="form-group">
            @Html.LabelFor(m => m.ProductID)
            @Html.DropDownListFor(m => m.ProductID, (SelectList)ViewBag.ProductList, "Select Product", new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.WarehouseID)
            @Html.TextBoxFor(m => m.WarehouseID, new { @Value = ViewBag.WarehouseName, @class = "form-control", @readonly = "readonly" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ExpectedQuantity)
            @Html.TextBoxFor(m => m.ExpectedQuantity, new  { @class ="form-control"})
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.CurrentQuantity)
            @Html.TextBoxFor(m => m.CurrentQuantity, new { @class = "form-control"})
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.AdjustmentRStatus)
            @Html.TextBoxFor(m => m.AdjustmentRStatus, new { @class = "form-control", @readonly ="readonly" })
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.RequestDate)
            @Html.TextBoxFor(m => m.RequestDate, new { @class = "form-control" ,@readonly ="readonly"})
        </div>


        <button type="submit" class="btn btn-outline-success">Add </button>
    }
</div>

