@{
    ViewBag.Title = "Suppliers";
    Layout = "~/Views/Shared/_LayoutPurchasingOfficer.cshtml";
}

<h2>Suppliers</h2>
@model IEnumerable<LogiManage.ViewModels.SupplierViewModel>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="alert alert-success">@TempData["SuccessMessage"]</div>
}
<div>
    @Html.ActionLink("Add Supplier", "SupplierAdd", "SupplierAdd", new { @class = "btn btn-primary" })
</div>

<table class="table">
    <thead>
        <tr>
            <th>Supplier Name</th>
            <th>Supplier Address</th>
            <th>Supplier Phone</th>
            <th>Supplier Email</th>
            <th>Supplier Contact</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var supplier in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => supplier.SupplierName)</td>
                <td>@Html.DisplayFor(modelItem => supplier.SupplierAddress)</td>
                <td>@Html.DisplayFor(modelItem => supplier.SupplierPhone)</td>
                <td>@Html.DisplayFor(modelItem => supplier.SupplierMail)</td>
                <td>@Html.DisplayFor(modelItem => supplier.ContactName)</td>
                <td>
                    @Html.ActionLink("Edit", "SupplierUpdate", new { supplierid = supplier.SupplierID }) |
                    @Html.ActionLink("Delete", "SupplierDelete", new { supplierid = supplier.SupplierID })
                </td>
            </tr>
        }
    </tbody>
</table>